/*/.idea/*
/*/venv/*
/*/*pycache*
/*pdf
/*/*pdf
/*xlsx
/*/*xlsx
/*html
/*/*html
/*txt
/*/*txt
/*pptx
/*/*pptx
/*tmp
/*/*tmp

/*/ham/*
/*/spam/*
/*/venv/*
/*/regression_random_datasets
/*/Example

/*/Images
/Exam